* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(./img/Web-Background.jpg);
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

.new-at-matter {
    padding-bottom: 5%;
}